<nav class="navbar">
    <div class="container-large">
      <a class="navbar-brand">
        <img src="../../../assets/images/logo.svg" class="logo" alt=""> 
      </a>
    
      <div class="navbar-collapse">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="'home'" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'about'" routerLinkActive="active">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'pricing'" routerLinkActive="active">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
          </li>
        </ul>
        <ul class="btn-wrapper">
            <li><button class="btn-login">Login</button></li>
            <li><button class="btn-register">
                Register
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.7033 13.332C17.2971 12.9362 17.2971 12.0637 16.7033 11.6679L10.6029 7.60092C9.9383 7.15788 9.04816 7.63427 9.04816 8.43297V16.5669C9.04816 17.3656 9.9383 17.842 10.6029 17.399L16.7033 13.332Z" fill="white"/>
                    </svg>
                    
            </button>
        </li>

        </ul>
      </div>
    </div>
  </nav>