<footer>
    <div class="social-wrapper">
        <ul>
            <li>
                <a href="mailto:contact@testproject.com ">
                    <img src="../../../assets/images/envelope.svg" class="img-fluid" alt="">
                    contact@testproject.com
                </a>
            </li>
            <li>
                <a href="+tel:(123) 124-1234 ">
                    <img src="../../../assets/images/phone.svg" class="img-fluid" alt="">
                    (123) 124-1234  
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>© 2023 Test Project | All Rights Reserved</p>
    </div>
</footer>