<div class="qr-main-wraper">
  <h5>Download <span>FREE</span></h5>
  <p>Test Project Mobile App</p>
  <div class="store">
    <img
      src="../../../../assets/images/playStore.png"
      class="img-fluid"
      alt=""
    />
    <img
      src="../../../../assets/images/appStore.png"
      class="img-fluid"
      alt=""
    />
  </div>
  <div class="code-wrap">
    <img
      src="../../../../assets/images/qrcode 1.svg"
      class="img-fluid"
      alt=""
    />
    <img
      src="../../../../assets/images/qrcode 2.svg"
      class="img-fluid"
      alt=""
    />
  </div>
</div>
